<mat-drawer-container class="example-container" autosize>
<!-- <div class="container">
  <div class="jumbotron"> -->
    <!-- <div class="row">
      <div class="col-sm-2"> -->
          <!-- <app-sidemenu #drawer><p><button type="button" class="btn btn-primary" (click)="Project()">Billing</button></p></app-sidemenu> -->
          <app-sidemenu #drawer></app-sidemenu>
      <!-- </div> -->
      <!-- <div class="col-sm-10">
    <h1>Financial Operations</h1> 
    <p>Integration data of all the modules data. Click on different field to know more information</p>
  </div> -->

    <!-- </div> -->
  <!-- <div class="row">
    <div class="col-sm-1">
    <app-sidemenu #drawer><p><button type="button" class="btn btn-primary" (click)="Project()">Billing</button></p></app-sidemenu>
</div>
    <p><button type="button" class="btn btn-primary" (click)="Dashboard()">My Dashboard</button></p>
    

  </div> -->
<!-- </div>
</div> -->

</mat-drawer-container>

